/*
 * Application brand colors
 *
 * Use: http://chir.ag/projects/name-that-color/#6195ED
 * to determine color variables that are meaningful
 */
//
//AUDI
//

//primary colors
 $shiraz: #bb0a30;
 $tide: #b6b1a9;

//grey tones
//pallette 1
$cod-gray: #1a1a1a;
$dove-gray:#666666;
$noble: #b3b3b3;
$mercury: #e5e5e5;

//pallette 2
$mine-shaft: #333333;
$gray: #808080;
$silver: #cccccc;
$concrete: #f2f2f2;

// Pallette 3
$tandora: #4c4c4c;
$dusty-gray: #999999;
$alto: #d9d9d9;


////VW

//primary colors
$cerulean: #029ddd;
$denim: #1874b7;
$mystic: #F1F5F6;
$manatee: #959AA0;
$limed-spruce: #37424A;
$cerulean-approx: #00B0EE;

//blue tones
//pallette 1
$viking: #73B1DD;
$matisse:#2274AC;
$astronaut-blue: #003C65;
