@mixin odc-mx-create-menu($type: horizontal) {
  @if $type = "horizontal" {
    $prefix: odc-horiz-menu;
  } @else 
  if $type = "vertical" {
    $prefix: odc-vert-menu;
  }
  background-color: #fff;
  margin          : 0;
  list-style      : none;
  padding         : 0;
}