//font
 /*@font-face {
     font-family: 'AudiType-ExtendedBold';
     src: url('../../src/fonts/audi/AudiType-ExtendedBold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'AudiType-ExtendedNormal';
     src: url('../../src/fonts/audi/AudiType-ExtendedNormal.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'AudiTypeScreen-Bold';
     src: url('../../src/fonts/audi/AudiTypeScreen-Bold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'AudiTypeScreen-Light';
     src: url('../../src/fonts/audi/AudiTypeScreen-Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'AudiTypeScreen-Normal';
     src: url('../../src/fonts/audi/AudiTypeScreen-Normal.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
